{% extends "base.html" %}
{% load django_tables2 %}

{% block conteudo %}
    <a href="" class="btn btn-primary mb-3">
        <span class="fas fa-arrow-left mr-1"></span>
        Voltar
    </a>
    <a href="{% url "add_categoria_despesa" %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
    <div class="card">
        <div class="card-body">
            {% render_table table "django_tables2/bootstrap4.html" %}
        </div>
    </div>
{% endblock conteudo %}