{% extends "base.html" %}
{% load django_tables2 %}

{% block conteudo %}
    <a href="{% url 'caixas' %}" class="btn btn-primary mb-3">
        <span class="fas fa-arrow-left mr-1"></span>
        Voltar
    </a>
    <a href="{% url 'add_produto' %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
    <a href="{% url "total_produtos" %}" class="btn btn-primary mb-3">
        <span class="fas fa-list-ul mr-1"></span>
        Total vendido
    </a>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                {% render_table table "django_tables2/bootstrap4.html" %}
            </table>
        </div>
    </div>
    <div id="target-modal"></div>
{% endblock conteudo %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-delete-modal').on('click', function () {
                const id = $(this).data('id');
                $.ajax({
                    method: 'GET',
                    url: '{% url "delete_produto_modal" %}?id=' + id,
                    success: function (data) {
                        $('#target-modal').html(data);
                        $('#confirmDeleteModal').modal();
                    }
                })
            });
        })
    </script>
{% endblock script %}