{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block conteudo %}
    <a href="{% url 'caixas' %}" class="btn btn-primary mb-3">
        <span class="fas fa-arrow-left mr-1"></span>
        Voltar
    </a>
    <a href="{% url 'add_produto' %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                {% render_table table %}
            </table>
        </div>
    </div>
{% endblock conteudo %}