{% extends "base.html" %}
{% load django_tables2 %}

{% block conteudo %}
    <a href="{% url 'add_caixa' %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
    <a href="{% url 'operadores' %}" class="btn btn-primary mb-3">
        <span class="fas fa-list-ul mr-1"></span>
        Operadores
    </a>
    <a href="{% url 'produtos' %}" class="btn btn-primary mb-3">
        <span class="fas fa-list-ul mr-1"></span>
        Produtos
    </a>
    <a href="{% url 'cortesias' %}" class="btn btn-primary mb-3">
        <span class="fas fa-list-ul mr-1"></span>
        Cortesias
    </a>
    <a href="{% url 'caixas' %}?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}export=xlsx" class="btn btn-success mb-3">
        <span class="fas fa-file-excel mr-1"></span>
        Exportar para XLSX
    </a>
    <form method="get" class="card mb-4">
        <div class="card-body">
        <div class="form-row justify-content-start align-items-end">
            <div class="form-group col-auto mx-2 mb-3">
            {{ form.cliente.label_tag }}
            {{ form.cliente }}
            </div>
            <div class="form-group col-auto ml-auto">
            {{ form.data.label_tag }}
            {{ form.data }}
            </div>
            <div class="form-group col-auto ml-auto">
            <button type="submit" class="btn btn-primary">
                Filtrar
            </button>
            </div>
            <div class="form-group col-auto ml-auto">
                <a href="{% url 'caixas' %}" class="btn btn-light">
                    <span class="fas fa-eraser mr-1"></span>
                    Limpar filtros
                </a>
            </div>
        </div>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            {% render_table table "django_tables2/bootstrap4.html" %}
        </div>
    </div>
    <div class="form-row justify-content-start align-items-end">
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total de Dinheiro: 
            <span class="badge badge-info">{{ soma_dinheiro|floatformat:2 }}</span>
            </h5>
        </div>
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total de Cartão de débito: 
            <span class="badge badge-info">{{ soma_cd|floatformat:2 }}</span>
            </h5>
        </div>
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total de Cartão de crédito: 
            <span class="badge badge-info">{{ soma_cc|floatformat:2 }}</span>
            </h5>
        </div>
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total de Pix: 
            <span class="badge badge-info">{{ soma_pix|floatformat:2 }}</span>
            </h5>
        </div>
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total de Reimpressão: 
            <span class="badge badge-danger">{{ soma_reimpressao|floatformat:2 }}</span>
            </h5>
        </div>
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total caixa fiado: 
            <span class="badge badge-danger">{{ soma_caixa_fiado|floatformat:2 }}</span>
            </h5>
        </div>
        <div class="form-group col-auto mx-2 mb-3 mt-3 text-right">
            <h5>
            Total de Valor: 
            <span class="badge badge-danger">{{ soma_valor|floatformat:2 }}</span>
            </h5>
        </div>
    </div>
    <div id="target-modal"></div>
{% endblock conteudo %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-delete-modal').on('click', function () {
                const id = $(this).data('id');
                $.ajax({
                    method: 'GET',
                    url: '{% url "delete_caixa_modal" %}?id=' + id,
                    success: function (data) {
                        $('#target-modal').html(data);
                        $('#confirmDeleteModal').modal();
                    }
                })
            });
        })
    </script>
{% endblock script %}